# Heart failure clinical records

## Import librairies

In [75]:
import numpy as np
import pandas as pds

## Visualize data information

In [76]:
df = pds.read_csv("Data/heart_failure_clinical_records_dataset.csv")

df.shape

(299, 13)

In [102]:
df.duplicated().sum()

0

In [77]:
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [78]:
df.tail()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
294,62.0,0,61,1,38,1,155000.0,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.0,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.0,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.0,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.0,1.6,136,1,1,285,0

In [79]:
df.dtypes

age                         float64
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
DEATH_EVENT                   int64
dtype: object

In [80]:
df.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

In [81]:
df.isna().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [155]:
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

## Choose an x and y

In [161]:
x = df[["diabetes","sex", "smoking", "anaemia"]]
y = df["DEATH_EVENT"]

In [162]:
x

     diabetes  sex  smoking  anaemia
0           0    1        0        0
1           0    1        0        0
2           0    1        1        0
3           0    1        0        1
4           1    0        0        1
..        ...  ...      ...      ...
294         1    1        1        0
295         0    0        0        0
296         1    0        0        0
297         0    1        1        0
298         0    1        1        0

[299 rows x 4 columns]

In [163]:
y

0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 299, dtype: int64

In [164]:
from sklearn.model_selection import train_test_split 


X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=None)

In [165]:
X_train

     diabetes  sex  smoking  anaemia
241         1    1        1        0
12          0    1        0        1
21          1    0        0        1
204         0    1        1        1
254         0    1        0        1
..        ...  ...      ...      ...
208         1    0        0        1
49          0    0        0        1
127         1    0        0        1
31          0    1        0        0
260         0    1        0        0

[209 rows x 4 columns]

In [166]:
(X_train.shape,y_train.shape, X_test.shape, y_test.shape)

((209, 4), (209,), (90, 4), (90,))

In [167]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()

reg.fit(X_train, y_train)

print(X_train)

print(X_test)

print(reg.predict(X_test))

     diabetes  sex  smoking  anaemia
241         1    1        1        0
12          0    1        0        1
21          1    0        0        1
204         0    1        1        1
254         0    1        0        1
..        ...  ...      ...      ...
208         1    0        0        1
49          0    0        0        1
127         1    0        0        1
31          0    1        0        0
260         0    1        0        0

[209 rows x 4 columns]
     diabetes  sex  smoking  anaemia
245         1    1        0        1
167         1    1        0        0
89          0    1        0        1
102         0    1        1        0
249         1    0        0        0
..        ...  ...      ...      ...
295         0    0        0        0
243         0    0        0        1
120         0    1        1        1
201         1    1        0        0
165         1    0        0        0

[90 rows x 4 columns]
[0.37059093 0.33785192 0.38521293 0.30996906 0.32623551 0.35897452
 0.34085751 0.35247392 0.29534706 0.37359652 0.35247392 0.38521293
 0.35897452 0.34085751 0.29534706 0.35897452 0.29534706 0.37359652
 0.32623551 0.35897452 0.35897452 0.30996906 0.30996906 0.37359652
 0.35897452 0.38521293 0.32623551 0.34270807 0.33785192 0.30996906
 0.29534706 0.32623551 0.35247392 0.37059093 0.35247392 0.34270807
 0.30996906 0.34085751 0.29534706 0.34085751 0.32623551 0.30996906
 0.32623551 0.30996906 0.34085751 0.30996906 0.33785192 0.37059093
 0.30996906 0.30996906 0.30996906 0.29534706 0.30996906 0.32808607
 0.32808607 0.34270807 0.32623551 0.34085751 0.34085751 0.33785192
 0.30996906 0.30996906 0.33785192 0.35247392 0.33785192 0.35897452
 0.30996906 0.33109166 0.35247392 0.34085751 0.37359652 0.38521293
 0.34085751 0.35247392 0.30996906 0.35247392 0.37359652 0.37059093
 0.34085751 0.35247392 0.29534706 0.37359652 0.35897452 0.34085751
 0.35247392 0.34085751 0.37359652 0.34270807 0.33785192 0.32623551]

In [168]:
print("Coef :", reg.coef_)
print("Minimum :", reg.intercept_)
print("Coef accurancy : {} %".format(reg.score(X_test, y_test)*100))

Coef : [-0.014622    0.01161641 -0.04250486  0.03273901]
Minimum : 0.34085751187270935
Coef accurancy : -2.822643631396682 %