### Exercice Vintage Auctions

In [1]:
import pandas as pds

path = "https://bit.ly/vintage-auctions"

df = pds.read_csv(path)

df

,tx id,time,auction,color,shirt size,condition
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,$17.18,Puce,S,used
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,$15.19,Aquamarine,L,never worn
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,$7.58,Violet,L,used
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,$9.10,Goldenrod,XS,NaN
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,$8.22,NaN,2XL,used
...,...,...,...,...,...,...
995,6fa16b110f53367cf15e6e1dcffdcb4c2653f1ab,9:56 AM,$5.79,Violet,2XL,NaN
996,2b7b6cbc2224502c7137262575e97a450b336fc2,11:31 AM,$14.07,Purple,S,Used
997,7f2a5141de8a7f752f8f98722393ffa3b0fb1e7a,6:25 AM,$17.63,Yellow,XS,used
998,c4549687dee4d3061fd3c82433367bea083d4d05,2:22 AM,$17.00,Yellow,L,Used
999,abf227d09fe37b3e333b419e0854c6c2fd1caa50,7:47 PM,$17.05,Indigo,XL,used

In [2]:
df.head()

,tx id,time,auction,color,shirt size,condition
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,$17.18,Puce,S,used
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,$15.19,Aquamarine,L,never worn
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,$7.58,Violet,L,used
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,$9.10,Goldenrod,XS,NaN
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,$8.22,NaN,2XL,used

In [3]:
df.tail()

,tx id,time,auction,color,shirt size,condition
995,6fa16b110f53367cf15e6e1dcffdcb4c2653f1ab,9:56 AM,$5.79,Violet,2XL,NaN
996,2b7b6cbc2224502c7137262575e97a450b336fc2,11:31 AM,$14.07,Purple,S,Used
997,7f2a5141de8a7f752f8f98722393ffa3b0fb1e7a,6:25 AM,$17.63,Yellow,XS,used
998,c4549687dee4d3061fd3c82433367bea083d4d05,2:22 AM,$17.00,Yellow,L,Used
999,abf227d09fe37b3e333b419e0854c6c2fd1caa50,7:47 PM,$17.05,Indigo,XL,used

In [6]:
df.dtypes

tx id         object
time          object
auction       object
color         object
shirt size    object
condition     object
dtype: object

### Gestion du prix

In [10]:
df["currency"] = df.auction.str[0]
df

,tx id,time,auction,color,shirt size,condition,currency
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,$17.18,Puce,S,used,$
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,$15.19,Aquamarine,L,never worn,$
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,$7.58,Violet,L,used,$
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,$9.10,Goldenrod,XS,NaN,$
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,$8.22,NaN,2XL,used,$
...,...,...,...,...,...,...,...
995,6fa16b110f53367cf15e6e1dcffdcb4c2653f1ab,9:56 AM,$5.79,Violet,2XL,NaN,$
996,2b7b6cbc2224502c7137262575e97a450b336fc2,11:31 AM,$14.07,Purple,S,Used,$
997,7f2a5141de8a7f752f8f98722393ffa3b0fb1e7a,6:25 AM,$17.63,Yellow,XS,used,$
998,c4549687dee4d3061fd3c82433367bea083d4d05,2:22 AM,$17.00,Yellow,L,Used,$
999,abf227d09fe37b3e333b419e0854c6c2fd1caa50,7:47 PM,$17.05,Indigo,XL,used,$

In [13]:
df.auction = df.auction.str[1:].replace(",",".")
df

,tx id,time,auction,color,shirt size,condition,currency
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,17.18,Puce,S,used,$
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,15.19,Aquamarine,L,never worn,$
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,7.58,Violet,L,used,$
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,9.10,Goldenrod,XS,NaN,$
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,8.22,NaN,2XL,used,$
...,...,...,...,...,...,...,...
995,6fa16b110f53367cf15e6e1dcffdcb4c2653f1ab,9:56 AM,5.79,Violet,2XL,NaN,$
996,2b7b6cbc2224502c7137262575e97a450b336fc2,11:31 AM,14.07,Purple,S,Used,$
997,7f2a5141de8a7f752f8f98722393ffa3b0fb1e7a,6:25 AM,17.63,Yellow,XS,used,$
998,c4549687dee4d3061fd3c82433367bea083d4d05,2:22 AM,17.00,Yellow,L,Used,$
999,abf227d09fe37b3e333b419e0854c6c2fd1caa50,7:47 PM,17.05,Indigo,XL,used,$

In [15]:
df.auction = df.auction.astype("float")
df.dtypes

tx id          object
time           object
auction       float64
color          object
shirt size     object
condition      object
currency       object
dtype: object

### Gestion des dates