### Exercice cycle Horaires

In [1]:
import pandas as pds

fp = "http://bit.ly/felonies-dataset"
df = pds.read_csv(fp)

df.rename(columns={"Date of Arrest" : "DoA"}, inplace=True)

df.dtypes
print(df)

                     DoA  Age Convicted
0    2014-07-16 14:59:18   77       Yes
1    2002-12-19 22:17:59   28       Yes
2    1994-06-28 09:31:40   21        No
3    1985-05-14 09:52:17   45       Yes
4    1985-05-25 14:06:28   39       Yes
..                   ...  ...       ...
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

[1000 rows x 3 columns]

In [2]:
df.DoA = pds.to_datetime(df.DoA)
df.DoA

0     2014-07-16 14:59:18
1     2002-12-19 22:17:59
2     1994-06-28 09:31:40
3     1985-05-14 09:52:17
4     1985-05-25 14:06:28
              ...
995   1992-02-04 14:24:25
996   1996-04-29 18:03:23
997   1980-07-15 21:59:27
998   1999-07-05 17:16:12
999   1996-03-17 18:29:25
Name: DoA, Length: 1000, dtype: datetime64[ns]

In [3]:
df["Horaire"] = df.DoA.dt.hour * 100 + df.DoA.dt.minute
df.Horaire

0      1459
1      2217
2       931
3       952
4      1406
       ...
995    1424
996    1803
997    2159
998    1716
999    1829
Name: Horaire, Length: 1000, dtype: int64

In [5]:
DEBUT_JOURNEE = -1
MATIN = 325
APRES_MIDI = 1613
NUIT = 2212
FIN_JOURNEE = 2400

bins = [DEBUT_JOURNEE, 
        MATIN, 
        APRES_MIDI, 
        NUIT,
        FIN_JOURNEE]

df.Horaire = pds.cut(df["Horaire"],
        bins=bins,
        labels = ["NUIT", "MATIN", "APRES MIDI", "NUIT2"]
        )

In [6]:
df.head()

                  DoA  Age Convicted Horaire
0 2014-07-16 14:59:18   77       Yes   MATIN
1 2002-12-19 22:17:59   28       Yes   NUIT2
2 1994-06-28 09:31:40   21        No   MATIN
3 1985-05-14 09:52:17   45       Yes   MATIN
4 1985-05-25 14:06:28   39       Yes   MATIN

In [7]:
horaire = df.Horaire.str.replace("2","")

In [8]:
horaire

0           MATIN
1            NUIT
2           MATIN
3           MATIN
4           MATIN
          ...
995         MATIN
996    APRES MIDI
997    APRES MIDI
998    APRES MIDI
999    APRES MIDI
Name: Horaire, Length: 1000, dtype: object

In [9]:
order = ["NUIT", "MATIN", "APRES MIDI"]
horaire = (horaire.astype("category")
          .cat.as_ordered()
          .cat.reorder_categories(["NUIT", "MATIN", "APRES MIDI"]))

In [10]:
horaire.head()

0    MATIN
1     NUIT
2    MATIN
3    MATIN
4    MATIN
Name: Horaire, dtype: category
Categories (3, object): ['NUIT' < 'MATIN' < 'APRES MIDI']

In [11]:
df.Horaire = horaire

In [14]:
df.head()

                  DoA  Age Convicted Horaire
0 2014-07-16 14:59:18   77       Yes   MATIN
1 2002-12-19 22:17:59   28       Yes    NUIT
2 1994-06-28 09:31:40   21        No   MATIN
3 1985-05-14 09:52:17   45       Yes   MATIN
4 1985-05-25 14:06:28   39       Yes   MATIN

In [13]:
df.tail()

                    DoA  Age Convicted     Horaire
995 1992-02-04 14:24:25   72       Yes       MATIN
996 1996-04-29 18:03:23   68       Yes  APRES MIDI
997 1980-07-15 21:59:27   87       Yes  APRES MIDI
998 1999-07-05 17:16:12   27        No  APRES MIDI
999 1996-03-17 18:29:25   57       Yes  APRES MIDI