In [5]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [6]:
df = sns.load_dataset("planets")

In [7]:
df.shape
### df.shape[0] récupérer le nombre de lignes

(1035, 6)

In [9]:
df.dtypes

method             object
number              int64
orbital_period    float64
mass              float64
distance          float64
year                int64
dtype: object

In [14]:
df.head(2)

            method  number  orbital_period  mass  distance  year
0  Radial Velocity       1         269.300  7.10     77.40  2006
1  Radial Velocity       1         874.774  2.21     56.95  2008

In [13]:
df.tail(2)

       method  number  orbital_period  mass  distance  year
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

In [18]:
df.groupby("method").describe()

                              number                                           \
                               count      mean       std  min  25%  50%   75%
method
Astrometry                       2.0  1.000000  0.000000  1.0  1.0  1.0  1.00
Eclipse Timing Variations        9.0  1.666667  0.500000  1.0  1.0  2.0  2.00
Imaging                         38.0  1.315789  0.933035  1.0  1.0  1.0  1.00
Microlensing                    23.0  1.173913  0.387553  1.0  1.0  1.0  1.00
Orbital Brightness Modulation    3.0  1.666667  0.577350  1.0  1.5  2.0  2.00
Pulsar Timing                    5.0  2.200000  1.095445  1.0  1.0  3.0  3.00
Pulsation Timing Variations      1.0  1.000000       NaN  1.0  1.0  1.0  1.00
Radial Velocity                553.0  1.721519  1.157141  1.0  1.0  1.0  2.00
Transit                        397.0  1.954660  1.399119  1.0  1.0  1.0  2.00
Transit Timing Variations        4.0  2.250000  0.500000  2.0  2.0  2.0  2.25

                                   orbital_period                 ...  \
                               max          count           mean  ...
method                                                            ...
Astrometry                     1.0            2.0     631.180000  ...
Eclipse Timing Variations      2.0            9.0    4751.644444  ...
Imaging                        4.0           12.0  118247.737500  ...
Microlensing                   2.0            7.0    3153.571429  ...
Orbital Brightness Modulation  2.0            3.0       0.709307  ...
Pulsar Timing                  3.0            5.0    7343.021201  ...
Pulsation Timing Variations    1.0            1.0    1170.000000  ...
Radial Velocity                6.0          553.0     823.354680  ...
Transit                        7.0          397.0      21.102073  ...
Transit Timing Variations      3.0            3.0      79.783500  ...

                                distance            year               \
                                     75%      max  count         mean
method
Astrometry                       19.3225    20.77    2.0  2011.500000
Eclipse Timing Variations       500.0000   500.00    9.0  2010.000000
Imaging                         132.6975   165.00   38.0  2009.131579
Microlensing                   4747.5000  7720.00   23.0  2009.782609
Orbital Brightness Modulation  1180.0000  1180.00    3.0  2011.666667
Pulsar Timing                  1200.0000  1200.00    5.0  1998.400000
Pulsation Timing Variations          NaN      NaN    1.0  2007.000000
Radial Velocity                  59.2175   354.00  553.0  2007.518987
Transit                         650.0000  8500.00  397.0  2011.236776
Transit Timing Variations      1487.0000  2119.00    4.0  2012.500000

                                                                           \
                                    std     min      25%     50%      75%
method
Astrometry                     2.121320  2010.0  2010.75  2011.5  2012.25
Eclipse Timing Variations      1.414214  2008.0  2009.00  2010.0  2011.00
Imaging                        2.781901  2004.0  2008.00  2009.0  2011.00
Microlensing                   2.859697  2004.0  2008.00  2010.0  2012.00
Orbital Brightness Modulation  1.154701  2011.0  2011.00  2011.0  2012.00
Pulsar Timing                  8.384510  1992.0  1992.00  1994.0  2003.00
Pulsation Timing Variations         NaN  2007.0  2007.00  2007.0  2007.00
Radial Velocity                4.249052  1989.0  2005.00  2009.0  2011.00
Transit                        2.077867  2002.0  2010.00  2012.0  2013.00
Transit Timing Variations      1.290994  2011.0  2011.75  2012.5  2013.25


                                  max
method
Astrometry                     2013.0
Eclipse Timing Variations      2012.0
Imaging                        2013.0
Microlensing                   2013.0
Orbital Brightness Modulation  2013.0
Pulsar Timing                  2011.0
Pulsation Timing Variations    2007.0
Radial Velocity                2014.0
Transit                        2014.0
Transit Timing Variations      2014.0

[10 rows x 40 columns]

In [19]:
### Afficher les statistiques descriptives de la dataset
df.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

count = nombre de valeurs non nulles

mean = moyenne

std = ecart-type

min = minimum

max = maximum

25% = 

50% = 

75% =

In [20]:
df.mass.sum() / df.shape[0]

1.3076100289855073

In [21]:
df.mass.mean()

2.6381605847953216

In [22]:
df.mass.count()

513

In [23]:
df.mass.sum() / df.mass.count()

2.6381605847953216

In [24]:
sum([3,4,5,6,500]) / 5

103.6

In [27]:
df.groupby("method")["orbital_period"].mean()

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

In [29]:
df.groupby("method")["mass"].count()

method
Astrometry                         0
Eclipse Timing Variations          2
Imaging                            0
Microlensing                       0
Orbital Brightness Modulation      0
Pulsar Timing                      0
Pulsation Timing Variations        0
Radial Velocity                  510
Transit                            1
Transit Timing Variations          0
Name: mass, dtype: int64

Nombre de valeur nulles par méthode pour la colonne mass

In [30]:
df.method.value_counts() - df.groupby("method")["mass"].count()

Astrometry                         2
Eclipse Timing Variations          7
Imaging                           38
Microlensing                      23
Orbital Brightness Modulation      3
Pulsar Timing                      5
Pulsation Timing Variations        1
Radial Velocity                   43
Transit                          396
Transit Timing Variations          4
dtype: int64

Valeur la plus fréquente (value_counts() ou mode())

In [31]:
df.method.value_counts()

Radial Velocity                  553
Transit                          397
Imaging                           38
Microlensing                      23
Eclipse Timing Variations          9
Pulsar Timing                      5
Transit Timing Variations          4
Orbital Brightness Modulation      3
Astrometry                         2
Pulsation Timing Variations        1
Name: method, dtype: int64

In [32]:
df.method.mode()

0    Radial Velocity
dtype: object

In [33]:
df.orbital_period - df.mass

0       262.200
1       872.564
2       760.400
3       306.630
4       505.720
         ...
1030        NaN
1031        NaN
1032        NaN
1033        NaN
1034        NaN
Length: 1035, dtype: float64

In [34]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

Afficher les lignes avec number > 1

In [39]:
df[(df.number > 1)]

              method  number  orbital_period  mass  distance  year
9    Radial Velocity       2        452.8000  1.99     74.79  2010
10   Radial Velocity       2        883.0000  0.86     74.79  2010
13   Radial Velocity       3       1078.0000  2.53     14.08  1996
14   Radial Velocity       3       2391.0000  0.54     14.08  2001
15   Radial Velocity       3      14002.0000  1.64     14.08  2009
..               ...     ...             ...   ...       ...   ...
925     Microlensing       2             NaN   NaN   4080.00  2012
926     Microlensing       2             NaN   NaN   4080.00  2012
941    Pulsar Timing       3         25.2620   NaN       NaN  1992
942    Pulsar Timing       3         66.5419   NaN       NaN  1992
943    Pulsar Timing       3         98.2114   NaN       NaN  1994

[440 rows x 6 columns]

In [40]:
df.distance.sum()

213367.98000000004

In [41]:
df.number.sum()

1848

Ratio

In [42]:
df.distance.sum() / df.number.sum()

115.45886363636366