### Cleaning sale -> propre
str -> num

num -> ordinal

date -> num

date -> ordinal

NaN -> str, num, date -> catégorie

### Exercice 7

In [ ]:
path = "https://bit.ly/bitcoin-purchases2"

path

In [ ]:
df = pds.read_csv(path)
df

In [ ]:
 df["wire amount"] = df["wire amount"].str.replace(",", ".")

In [ ]:
df

### 1 Extraire les devises

In [ ]:
df["devise"] = df["wire amount"].str[0]

In [ ]:
df

In [ ]:
df["wire amount"] = df["wire amount"].str[1:] ### df["wire amount"].str.slice(1, None)

In [ ]:
df

#### Cleaning str -> float,int

In [ ]:
df["wire amount"] = df["wire amount"].astype('float')

In [ ]:
df.dtypes

In [ ]:
import random

def makeNumberStr(sep=[","]):

    avantVirgule = str(random.randint(1,1000))
    apresVirgule = '{:02}'.format(random.randint(0,99))
    sep = random.choice(sep)

    return avantVirgule + sep + apresVirgule

col1 = [makeNumberStr() for _ in range(200)]
col2 = [makeNumberStr([".",","]) for _ in range(200)]

exo1 = pds.DataFrame(data={
    "col1" : col1,
    "col2" : col2
})

exo1["col1"] = exo1["col1"].str.replace(",",".")
exo1["col2"] = exo1["col2"].str.replace(",",".")
print(exo1)

exo1.col1 = exo1.col1.astype("float")
exo1.col2 =exo1.col2.astype("float")

print(exo1.dtypes)

In [ ]:
import random

def makeNumberStrRandSign(sep=[","], signs=["€", "$"]):

    avantVirgule = str(random.randint(1,1000))
    apresVirgule = '{:02}'.format(random.randint(0,99))
    sep = random.choice(sep)
    signs = random.choice(signs)

    return avantVirgule + sep + apresVirgule + signs

col1 = [makeNumberStrRandSign() for _ in range(200)]
col2 = [makeNumberStrRandSign([".",","]) for _ in range(200)]

exo2 = pds.DataFrame(data={
    "col1" : col1,
    "col2" : col2
})


exo2["col1"] = exo2["col1"].str.replace(",",".")
exo2["col2"] = exo2["col2"].str.replace(",",".")
print(exo2)

exo2["devise_col1"] = exo2["col1"].str[-1]
exo2["devise_col2"] = exo2["col2"].str[-1]

exo2["col1"] = exo2["col1"].str[:-1]
exo2["col2"] = exo2["col2"].str[:-1]

print(exo2)

exo2["col1"] = exo2["col1"].astype("float")
exo2["col2"] = exo2["col2"].astype("float")

print(exo2.dtypes)

### Cleaning date

In [3]:
import pandas as pds

path = "https://bit.ly/felonies-dataset"

dataset = pds.read_csv(path)

In [21]:
dataset.head()

        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

In [ ]:
dataset.dtypes

In [4]:
dataset.Age.describe()

count    1000.000000
mean       54.605000
std        25.225172
min        10.000000
25%        33.000000
50%        53.000000
75%        76.000000
max        99.000000
Name: Age, dtype: float64

In [10]:
o = pds.cut(
    dataset.Age, 
    bins=[10,14,20,65,100], 
    labels=["Child", "Ado", "Adulte", "Senior"]
    )
o

0      Senior
1      Adulte
2      Adulte
3      Adulte
4      Adulte
        ...
995    Senior
996    Senior
997    Senior
998    Adulte
999    Adulte
Name: Age, Length: 1000, dtype: category
Categories (4, object): ['Child' < 'Ado' < 'Adulte' < 'Senior']

In [6]:
o.isna().sum()

13

In [7]:
exo1 = pds.Series(data=[0,1,2,3])

In [8]:
pds.cut(exo1, 
        bins=[0,2,3],
        labels=["A","B"]
        )

0    NaN
1      A
2      A
3      B
dtype: category
Categories (2, object): ['A' < 'B']

In [26]:
prefix = ["ten","twen","thir","four","fif","six", "seven","eigh","nine"]

labels = [p + "ties" for p in prefix]

labels

['tenties',
 'twenties',
 'thirties',
 'fourties',
 'fifties',
 'sixties',
 'seventies',
 'eighties',
 'nineties']

In [30]:
dataset["Decade"] = pds.cut(
    dataset.Age, 
    bins=[i for i in range(9,99+1,10)], 
    labels=labels
    )

In [31]:
dataset.head()

        Date of Arrest  Age Convicted     Decade
0  2014-07-16 14:59:18   77       Yes  seventies
1  2002-12-19 22:17:59   28       Yes   twenties
2  1994-06-28 09:31:40   21        No   twenties
3  1985-05-14 09:52:17   45       Yes   fourties
4  1985-05-25 14:06:28   39       Yes   thirties

In [32]:
dataset.isna().sum()

Date of Arrest    0
Age               0
Convicted         0
Decade            0
dtype: int64

In [33]:
dataset.dtypes

Date of Arrest      object
Age                  int64
Convicted           object
Decade            category
dtype: object

In [4]:
import pandas as pds

fp = "http://bit.ly/felonies-dataset"
df = pds.read_csv(fp)
df.shape

(1000, 3)

In [5]:
df.rename(columns={"Date of Arrest" : "DOA"}, inplace=True)

In [6]:
df.head()

                   DOA  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

### Methode 1

In [7]:
df["YOA"] = df.DOA.str[:4]

In [8]:
df.head()

                   DOA  Age Convicted   YOA
0  2014-07-16 14:59:18   77       Yes  2014
1  2002-12-19 22:17:59   28       Yes  2002
2  1994-06-28 09:31:40   21        No  1994
3  1985-05-14 09:52:17   45       Yes  1985
4  1985-05-25 14:06:28   39       Yes  1985

### Methode 2

In [9]:
df["DOA"] = pds.to_datetime(df["DOA"])

In [10]:
df.dtypes

DOA          datetime64[ns]
Age                   int64
Convicted            object
YOA                  object
dtype: object

In [11]:
print("Years : \n")
print(df["DOA"].dt.year)
print("Days : \n")
print(df["DOA"].dt.day)
print("Day of week : \n")
print(df["DOA"].dt.dayofweek)

Years :

0      2014
1      2002
2      1994
3      1985
4      1985
       ...
995    1992
996    1996
997    1980
998    1999
999    1996
Name: DOA, Length: 1000, dtype: int64
Days :

0      16
1      19
2      28
3      14
4      25
       ..
995     4
996    29
997    15
998     5
999    17
Name: DOA, Length: 1000, dtype: int64
Day of week :

0      2
1      3
2      1
3      1
4      5
      ..
995    1
996    0
997    1
998    0
999    6
Name: DOA, Length: 1000, dtype: int64

In [52]:
prefix = ["ten","twen","zero","six", "seven","eigh","nine"]

labels = [p + "ties" for p in prefix]

labels

['tenties',
 'twenties',
 'zeroties',
 'sixties',
 'seventies',
 'eighties',
 'nineties']

In [ ]:
from datetime import datetime

obj_dt = datetime(year= 1, month= 1, day= 1)

In [53]:
pds.cut(df.DOA.dt.year, bins= list(range(1959,2029+1,10)), labels=labels)

0       eighties
1      seventies
2        sixties
3       zeroties
4       zeroties
         ...
995      sixties
996      sixties
997     zeroties
998      sixties
999      sixties
Name: DOA, Length: 1000, dtype: category
Categories (7, object): ['tenties' < 'twenties' < 'zeroties' < 'sixties' < 'seventies' < 'eighties' < 'nineties']