# Data Cleaning - 23/09/2020
#### a = créer une nouvelle cellule au dessus
#### b = créer une nouvelle cellule en dessous
#### m = commentaire
#### y = code
#### dd = suppression cellule selectionnée
#### shift + enter = passer à la cellule suivante 
#### inplace = True, effectue pour de bon et ne retourne rien (NoneType)
#### <u>exemple : df.drop("Open" axis="columns" inplace=True)</u>
#### inplace = False, n'effectue pas pour de bon et retourne la copie
#### <u>exemple : df = df.drop("Open" axis="columns")</u>

In [9]:
import pandas as pds

In [64]:
path = "https://bit.ly/world-cities-clean"
dataset = pds.read_csv(path)
print("Head : ")
print(dataset.head(),"\n")
print("Shape : ")
print(dataset.shape,"\n")
print("Data type : ")
print(dataset.dtypes,"\n")
print("Tail :")
print(dataset.tail(),"\n")
print("Sum Na :")
print(dataset.isna().sum())

Head :
               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

Shape :
(23018, 4)

Data type :
name          object
country       object
subcountry    object
geonameid      int64
dtype: object

Tail :
              name   country           subcountry  geonameid
23013     Bulawayo  Zimbabwe             Bulawayo     894701
23014      Bindura  Zimbabwe  Mashonaland Central     895061
23015   Beitbridge  Zimbabwe   Matabeleland South     895269
23016      Epworth  Zimbabwe               Harare    1085510
23017  Chitungwiza  Zimbabwe               Harare    1106542

Sum Na :
name           0
country        0
subcountry    26
geonameid      0
dtype: int64


### Exercice 1

In [10]:
chemin = "chemin/qui/nexistepas"
data = pds.read_csv(chemin)

FileNotFoundError: [Errno 2] No such file or directory: 'chemin/qui/nexistepas'

Un tel fichier ou dossier n'existe pas : "chemin/qui/nexistepas"

Cela signifie que le chemin vers le fichier est incorrect ou n'existe pas

### Exercice 2

In [65]:
chemin = "https://bit.ly/world-cities-dirty-v1"
data = pds.read_csv(chemin)
data.head()

Head :
               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

Shape :
(23018, 4)

Data type :
name          object
country       object
subcountry    object
geonameid      int64
dtype: object

Tail :
              name   country           subcountry  geonameid
23013     Bulawayo  Zimbabwe             Bulawayo     894701
23014      Bindura  Zimbabwe  Mashonaland Central     895061
23015   Beitbridge  Zimbabwe   Matabeleland South     895269
23016      Epworth  Zimbabwe               Harare    1085510
23017  Chitungwiza  Zimbabwe               Harare    1106542

Sum Na :
name           0
country        0
subcountry    26
geonameid      0
dtype: int64

#### Correction

In [66]:
chemin = "https://bit.ly/world-cities-dirty-v1"
data = pds.read_csv(chemin, names=["name","country","subcountry","geonameid"])
data.head()
print("Head : ")
print(dataset.head(),"\n")
print("Shape : ")
print(dataset.shape,"\n")
print("Data type : ")
print(dataset.dtypes,"\n")
print("Tail :")
print(dataset.tail(),"\n")
print("Sum Na :")
print(dataset.isna().sum())

Head :
               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

Shape :
(23018, 4)

Data type :
name          object
country       object
subcountry    object
geonameid      int64
dtype: object

Tail :
              name   country           subcountry  geonameid
23013     Bulawayo  Zimbabwe             Bulawayo     894701
23014      Bindura  Zimbabwe  Mashonaland Central     895061
23015   Beitbridge  Zimbabwe   Matabeleland South     895269
23016      Epworth  Zimbabwe               Harare    1085510
23017  Chitungwiza  Zimbabwe               Harare    1106542

Sum Na :
name           0
country        0
subcountry    26
geonameid      0
dtype: int64

### Exercice 3

In [23]:
chemin = "https://bit.ly/world-cities-dirty-v2"
data = pds.read_csv(chemin)
data.head()

,,,,,,Lorem ipsum dolor sit amet,consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,sunt in culpa qui officia deserunt mollit anim id est laborum.
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,totam rem aperiam,eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,qui dolorem ipsum quia dolor sit amet,consectetur,adipisci velit,sed quia non numquam eius modi tempora incidu...,quis nostrum exercitationem ullam corporis su...,nisi ut aliquid ex ea commodi consequatur? Qu...,vel illum qui dolorem eum fugiat quo voluptas...
name,country,subcountry,geonameid,NaN,NaN,NaN,NaN,NaN,NaN,NaN
les Escaldes,Andorra,Escaldes-Engordany,3040051,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra la Vella,Andorra,Andorra la Vella,3041563,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Umm al Qaywayn,United Arab Emirates,Umm al Qaywayn,290594,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Correction

In [67]:
chemin = "https://bit.ly/world-cities-dirty-v2"
data = pds.read_csv(chemin, skipfooter=1, skiprows=2, encoding="utf-8")
print("Head : ")
print(dataset.head(),"\n")
print("Shape : ")
print(dataset.shape,"\n")
print("Data type : ")
print(dataset.dtypes,"\n")
print("Tail :")
print(dataset.tail(),"\n")
print("Sum Na :")
print(dataset.isna().sum())

Head :
               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

Shape :
(23018, 4)

Data type :
name          object
country       object
subcountry    object
geonameid      int64
dtype: object

Tail :
              name   country           subcountry  geonameid
23013     Bulawayo  Zimbabwe             Bulawayo     894701
23014      Bindura  Zimbabwe  Mashonaland Central     895061
23015   Beitbridge  Zimbabwe   Matabeleland South     895269
23016      Epworth  Zimbabwe               Harare    1085510
23017  Chitungwiza  Zimbabwe               Harare    1106542

Sum Na :
name           0
country        0
subcountry    26
geonameid      0
dtype: int64

### Exercice 4

In [55]:
chemin = "https://bit.ly/world-cities-dirty-v3"
data = pds.read_csv(chemin)
data.head()

     les Escaldes|Andorra|Escaldes-Engordany|3040051
0  Andorra la Vella|Andorra|Andorra la Vella|3041563
1  Umm al Qaywayn|United Arab Emirates|Umm al Qay...
2  Ras al-Khaimah|United Arab Emirates|Raʼs al Kh...
3  Khawr Fakkān|United Arab Emirates|Ash Shāriqah...
4            Dubai|United Arab Emirates|Dubai|292223

#### Correction

In [68]:
chemin = "https://bit.ly/world-cities-dirty-v3"
data = pds.read_csv(chemin, sep="|", names=["name","country","subcountry","geonameid"])
print("Head : ")
print(dataset.head(),"\n")
print("Shape : ")
print(dataset.shape,"\n")
print("Data type : ")
print(dataset.dtypes,"\n")
print("Tail :")
print(dataset.tail(),"\n")
print("Sum Na :")
print(dataset.isna().sum())

Head :
               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

Shape :
(23018, 4)

Data type :
name          object
country       object
subcountry    object
geonameid      int64
dtype: object

Tail :
              name   country           subcountry  geonameid
23013     Bulawayo  Zimbabwe             Bulawayo     894701
23014      Bindura  Zimbabwe  Mashonaland Central     895061
23015   Beitbridge  Zimbabwe   Matabeleland South     895269
23016      Epworth  Zimbabwe               Harare    1085510
23017  Chitungwiza  Zimbabwe               Harare    1106542

Sum Na :
name           0
country        0
subcountry    26
geonameid      0
dtype: int64

### Exercice 5

In [69]:
chemin = "https://bit.ly/bitcoin-data"
dataset = pds.read_csv(chemin)
print("Head : ")
print(dataset.head(),"\n")
print("Shape : ")
print(dataset.shape,"\n")
print("Datatypes : ")
print(dataset.dtypes, "\n")
print("Tail : ")
print(dataset.tail(),"\n")

Head :
          Date    Open*     High      Low  Close**        Volume    Market Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  4.484178e+10  1.603195e+11
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  2.248291e+10  1.478905e+11
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  2.290344e+10  1.487530e+11
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  2.552117e+10  1.459242e+11
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  2.871458e+10  1.482499e+11

Shape :
(33, 7)

Datatypes :
Date           object
Open*         float64
High          float64
Low           float64
Close**       float64
Volume        float64
Market Cap    float64
dtype: object

Tail :
                                   Date    Open*     High      Low  Close**  \
28                          Dec 17 2019  6931.32  6964.07  6587.97  6640.52
29                          Dec 16 2019  7153.66  7171.17  6903.68  6932.48
30                          Dec 15 2019  7124.24  7181.08  6924.38  7152.30
31  * Earliest data in range (UTC time)      NaN      NaN      NaN      NaN
32   ** Latest data in range (UTC time)      NaN      NaN      NaN      NaN

          Volume    Market Cap
28  2.236380e+10  1.202342e+11
29  2.021327e+10  1.255156e+11
30  1.688113e+10  1.294814e+11
31           NaN           NaN
32           NaN           NaN

### Correction

In [ ]:
chemin = "https://bit.ly/bitcoin-data"
dataset = pds.read_csv(chemin, skipfooter=2)
print("Head : ")
print(dataset.head(),"\n")
print("Shape : ")
print(dataset.shape,"\n")
print("Datatypes : ")
print(dataset.dtypes, "\n")
print("Tail : ")
print(dataset.tail(),"\n")

### Exercice 6

In [90]:
toy = pds.DataFrame(
    data={
    'a**' : [1,2],
    'b__' : [3,3]
    }
)
toy

   a**  b__
0    1    3
1    2    3

### Correction

In [80]:
def convert(s):
  s = s.replace("*","")
  s = s.replace("_","")
  
  return s

In [81]:
toy.rename(convert, 
           axis="columns"
           )

   a  b
0  1  3
1  2  3

In [83]:
toy.rename(
    columns={
    "a**" : "a",
    "b__" : "b"
    }
)

   a  b
0  1  3
1  2  3

In [98]:
toy.columns = toy.columns.str.replace("*","")
toy.columns = toy.columns.str.replace("_","")
toy

   a  b
0  1  3
1  2  3