# Valeurs manquantes

In [3]:
import numpy as np
import pandas as pds

url = 'https://bit.ly/missing-values'
df = pds.read_csv(url)

In [4]:
df.isna().sum()

color     129
rating    256
dtype: int64

In [5]:
df.isna().mean()

color     0.140676
rating    0.279171
dtype: float64

In [6]:
df.color.isna().astype('int8').head()

0    1
1    0
2    0
3    0
4    0
Name: color, dtype: int8

In [7]:
df

      color  rating
0       NaN    1.16
1       Red     NaN
2      Blue    2.54
3       Red    1.51
4       Red     NaN
..      ...     ...
912    Blue    3.40
913     Red     NaN
914     NaN    1.24
915  Yellow    2.64
916    Blue     NaN

[917 rows x 2 columns]

# Insérer une colonne à un emplacement particulier
## Méthode sans boucle

In [8]:
df.insert(df.columns.get_loc("color") + 1, "color_missing", df.color.isna())

In [ ]:
df.insert(df.columns.get_loc("rating") + 1, "rating_missing", df.rating.isna())

 ## Méthode avec boucle

In [9]:
# Ici, n'incluez que les noms des colonnes NUMERIQUES / ORDINALES
for nom_colonne in ["color", "rating"]:
    index_colonne = df.columns.get_loc(nom_colonne)
    df.insert(index_colonne+1,
    nom_colonne+"_nan",
    df[nom_colonne].isna().astype("int8"))

In [10]:
df

      color  color_nan  color_missing  rating  rating_nan
0       NaN          1           True    1.16           0
1       Red          0          False     NaN           1
2      Blue          0          False    2.54           0
3       Red          0          False    1.51           0
4       Red          0          False     NaN           1
..      ...        ...            ...     ...         ...
912    Blue          0          False    3.40           0
913     Red          0          False     NaN           1
914     NaN          1           True    1.24           0
915  Yellow          0          False    2.64           0
916    Blue          0          False     NaN           1

[917 rows x 5 columns]

#### La touche finale pour les colonnes ordinales : "colonne.cat.codes"
#### La touche finale pour les colonnes numériques : "astype("int") ou astype("float")

### Méthode dropna()

how : str
- "any" - Supprime les lignes ayant au moins une des colonnes du subset avec une valeur NaN
- "all" - Supprime les lignes ayant toutes les colonnes du subset avec une valeur NaN

subset : list
- Liste des noms de colonnes à analyser